

.activites{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(241, 240, 240)
}
.activity-container{
    width: 80%;
    margin: auto;
    margin-top: 25px;
     margin-top: 25px;
}
.activity{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.activity-details{
    margin: 0;
    padding: 0;
    padding-left: 20px;
    background-color: #FFFFFF;
}
.activity-details h2{
    margin-top: 0;
    padding-top: 0;
}
.person-details{
   
}